.button{
    padding: 50px;
    margin:10px;
}
#blue{
 background-color: blue;
}
#red{
 background-color: red;
}
#black{
 background-color: black;
}
#yellow{
 background-color: yellow;
}
.group{
    margin-top: 75px !important;

}
body{
    text-align: center;
}